.App {
  height: 100vh;
  background-color: #1A1A1D;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  justify-content: center;
  align-content: center;
}

.header-content{
  color: beige;
  margin: auto;
  margin: 1rem;
  font-size: 5vh;
}

.Header-Container{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: transparent;
  border: 1px solid #c3073f;
  border-radius: 3vh;
  
  width: fit-content;
  height: fit-content;
  color: bisque;
}

.App-header {
  justify-self: center;
  align-self: center;
  justify-content: center;
  align-content: center;
}

.Button-Container{
  display: flex;
  flex-direction: column;
  
  align-self: center;
  justify-self: center;

  align-items: center;
  justify-content: center;


  margin: 2rem;

}

.start-stop{
  width: 10rem;
  height: 3rem;

  align-self: center;
  justify-self: center;

  margin-top: 10px;
}
